<div class="container min-h-screen bg-[url('https://images.lecho.be/view?iid=Elvis:2Ab6lWjOqjwAi-2ixJS-SC&context=ONLINE&ratio=16/9&width=640&u=1662657901000')] bg-center bg-cover flex items-center">
    <div class="text-white mt-48 w-full pl-4 ml-6">
      <h1 class="text-6xl font-semibold leading-normal">Plateforme d'évaluation <br> des risques d'entreprise (ERA)</h1>
      <p>analyse des parties prenantes et gestion dynamique des risques.</p>
      <div class="mt-10">
        <a href="risquelist" class="bg-yellow-400 rounded-3xl py-3 px-8 font-medium inline-block mr-4 hover:bg-transparent hover:border-yellow-400 hover:text-white duration-300 hover:border">Get Started</a>
      </div>
    </div>
  </div>
  