<nav class="flex items-center bg-[#2e2e38]">
    <a href="#">
      <img src="../assets/ey logo.jpg"
    class="w-50 cursor-pointer ml-8">
    </a>
    <ul class="flex-1 text-center">
      <li class="list-none inline-block px-5"><a href="#" class="no-underline text-white px-2 hover:text-yellow-400">Home</a></li>
      <li class="list-none inline-block px-5"><a href="risquelist" class="no-underline text-white px-2 hover:text-yellow-400">management des risques</a></li>
      <li class="list-none inline-block px-5"><a href="analyseclient" class="no-underline text-white px-2 hover:text-yellow-400">Analyse Client</a></li>
      <li class="list-none inline-block px-5"><a href="historique" class="no-underline text-white px-2 hover:text-yellow-400">Historique</a></li>
      <li class="list-none inline-block px-5"><a href="statistique" class="no-underline text-white px-2 hover:text-yellow-400">Statistique</a></li>
    </ul>
  </nav>