<div id="app" class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mt-10">
        <div class="md:flex">
            <div class="p-8">
                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Information d'entreprise</div>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">Name: <span class="text-gray-700">{{ entreprise.nom }}</span></p>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">Legal Name: <span class="text-gray-700">{{ entreprise.nom_legal }}</span></p>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">Address: <span class="text-gray-700">{{ entreprise.adresse }}</span></p>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">Email: <span class="text-gray-700">{{ entreprise.email }}</span></p>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">Identifier: <span class="text-gray-700">{{ entreprise.identifiant }}</span></p>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">Sector: <span class="text-gray-700">{{ entreprise.secteur_activite }}</span></p>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">Annual Revenue: <span class="text-gray-700">${{ entreprise.chiffre_d_affaire }}</span></p>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">Description: <span class="text-gray-700">{{ entreprise.description }}</span></p>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">Risk Percentage: <span class="text-gray-700">{{ entreprise.pourcentagerisque }}%</span></p>
                <p class="block mt-1 text-lg leading-tight font-medium text-red-700 pt-4">Les Risques:</p>

            <div *ngFor="let risque of sorted_risques" class="pt-3">
                <p class="block mt-1 text-lg leading-tight font-medium text-red-700">Risk nom: <span class="text-gray-700">{{ risque.risque.nom }}</span></p>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">Risk précaution: <span class="text-gray-700">{{ risque.risque.precaution }}</span></p>

            </div>
            <p class="block mt-1 text-lg leading-tight font-medium text-red-700 pt-4">Quelques articles sur les décideurs:</p>

            <div *ngFor="let agent of final_agents" class="mb-4">
              <p class="block mt-1 text-lg leading-tight font-medium text-black">{{agent[0]}} le {{agent[1]}} de {{ entreprise.nom }}</p>
              <p *ngFor="let article of agent.slice(3)" class="text-gray-700 mb-4">{{article[0]}}</p>
              <p class="block mt-1 text-lg leading-tight font-medium text-black">Resultat de l'analyse de ces articles: <span class="text-red-700" >{{agent[2].toFixed(2)}}</span></p>


            </div>




            </div>
        </div>

        <button
        (click)="openpdf()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold  py-2 px-4 rounded shadow-lg transition duration-300"
      >
        Generate PDF
      </button>
      <button
        (click)="downloadpdf()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold  py-2 px-4 rounded shadow-lg transition duration-300 float-right"
      >
        Download PDF
      </button>
      </div>